body {
  font-family: 'IBM Plex Serif', serif;
}

form {
  border: 1px solid black;
  padding: .5%;
  margin: .5%;
}

h1 {
  display: inline-block;
  width: 99%;
  text-align: center;
  background: #e1d6d6;
  margin: 5px;
  padding: 15px;
  max-height: 40px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 99%;
}

.flex-container>div {
  background-color: #f1f1f1;
  margin: 5px;
  text-align: center;
  flex-basis: 200px;
  min-width: 50px;
}

#weekdays>div {
  font-weight: bold;
  line-height: 50px;
  font-size: 80%;
}

#weeks>div>div {
  border-radius: 15%;
  height: 180px;
  padding: 5px 0;
}

.day:hover {
  background-color: lightgrey;
  font-weight: bold;
}

.event {
  height: auto;
  overflow: auto;
  max-width: 200px;
  height: 50px;
  line-height: 50px;
}

.event span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.event:hover {
  background-color: #f1f1f1;
}
