h1 {
  text-align: center;
  background: grey;
  width: 100%;
  max-width: 730px;
  margin: 5px;
  padding: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  #background-color: DodgerBlue;
}

.flex-container>div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
}

div:hover {
  background-color: lightgrey;
}

#weekdays>div {
  font-weight: bold;
  line-height: 50px;
  font-size: 70%;
}
