body {
  font-family: 'IBM Plex Serif', serif;
}

form {
  border: 1px solid black;
  padding: .5%;
  margin: .5%;
}

h1 {
  text-align: center;
  background: #e1d6d6;
  width: 100%;
  margin: 5px;
  padding: 15px;
  height: 40px;
  max-height: 40px;
  max-width: 76%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flex-container>div {
  background-color: #f1f1f1;
  justify-content: space-between;
  width: 200px;
  margin: 5px;
  text-align: center;
  position: relative;
  #line-height: 75px;
}

#weekdays>div {
  font-weight: bold;
  line-height: 50px;
  font-size: 80%;
}

#weeks>div>div {
  border-radius: 15%;
  height: 180px;
  padding: 5px 0;
}

#weeks>div>div:hover {
  background-color: lightgrey;
  font-weight: bold;
}

.event {
  #height: auto;
  height: 3em;
  padding: 2%;
  overflow: auto;
}

.event:hover {
  background-color: #f1f1f1;
}
